/* RECETEO PROPIEDADES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.colorBlanco {
    color: white;
}

.colorGris {
    color: #989a8d;
}

.colorVerde {
    color: #29a244;
}

.logoNav {
    background-color: #353b41;
    font-size: 1.5rem;
    height: 15vh;
}

.logoNav img {
    width: 100px;
}

.linkNav {
    text-decoration: none;
}



header ul li {
    list-style: none;
    display: inline-block;
}

.oradores {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
}

.oradores h2 {
    padding-top: 40px;
}

.tarjeta {
    border: 1px solid rgb(176, 176, 176);
    border-radius: 5px;
    width: 30%;
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    text-align: left;
    height: 80%;
    overflow: hidden;
}

.tarjeta img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    height: 55%;
    object-fit: cover;

}

.tarjetaTituloAmarillo {
    background-color: rgb(255, 192, 6);
    margin-bottom: 5px;
}

.tarjetaTituloVerde {
    background-color: rgb(23, 162, 185);
    color: white;
}

.tarjetaTituloGris {
    background-color: rgb(108, 117, 126);
    color: white;
}

.tarjetaTituloRojo {
    background-color: rgb(220, 53, 70);
    color: white;
}

.tarjetaNombre {
    margin-top: 5px;
    margin-bottom: 20px;
}

.cuerpoTarjeta {
    margin: 10px;
}

.cuerpoTarjeta h4 {
    display: inline-block;
    border-radius: 5px;
    margin-right: 5px;
    padding: 0 5px;
}

.lugarFecha {
    background-color: #353b41;
    display: flex;


}

.lugarFechaImagen img {

    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.lugarFechaTexto {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    line-height: 2;
    padding: 20px;
    font-size: 1.1rem;

}

.lugarFechaTextoLink {
    display: inline;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: #ffffff;
    /* Color del texto */
    border: 1px solid #ffffff;
    /* Borde del botón */
}

#conferencia {
    background: linear-gradient(to right, #0000005b, #00000056, #00000056), url("../assets/img/ba1.jpg");
    ;
    background-size: cover;
    background-position: center;
    color: white;
    height: 85vh;
}

.formularioOrador {
    height: 50vh;
    padding: 60px;
    display: list-item;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}
 aside h5{
text-align: center;
margin-top: 30px;
 }
.publicidad {
    display: flex;
    justify-content:space-around;
    justify-items: center;
    align-items: center;
}

footer {
    background-image: linear-gradient(to right, #1d3744, #1d3e4f, #1d455a, #1d4c66, #1e5372);
}

footer ul {
    padding: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    list-style: none;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}